:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --text-dark: #005d91;
    --text-light: #0079be;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: 'Mooli', 'Arial', sans-serif;
}

@font-face {
    font-family: 'Mooli', 'Arial', sans-serif;
    src: url('./fonts/Mooli-Regular.woff2') format('woff2');
    font-display: swap;
}

body { 
    min-height: 100vh;
    margin: 0;
    font-family: var(--primary-font);
}

p {
    font-family: var(--primary-font);
}

header {
    border-bottom: 2px solid #ccc;
    padding: 1.5rem;
}

main {
    padding: 1.5rem;
}

#site-header{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 2rem;
    height: 88px;
}

#site-header img {
    width: 88px;
    height: 88px;
}

#site-header h1 {
    font-family: var(--secondary-font);
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#search-bar {
    display: flex;
    align-items: center;
    border: 2px solid black; 
    border-radius: 5px;
    overflow: hidden;
    background: white;
    margin: 0 1.5rem; 
    box-sizing: border-box;
}

#search-input {
    flex: 1; 
    padding: 10px;
    border: none;
    font-size: 1.4em;
    outline: none; 
    background: transparent; 
}

#search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px; 
    border: none;
    border-left: 2px solid black;
    background: none;
    cursor: pointer;
    width: 50px; 
    height: 50px; 
}

#search-bar button:hover {
    background: rgba(0, 0, 0, 0.1); 
}

#search-bar button img {
    width: 70%; 
    height: 70%; 
    object-fit: contain;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1.5rem;
    max-width: 100%; 
    overflow: hidden;
    margin: 0 0 1rem 0;
    gap: 5px;
}

#recipes-container {
    margin: 0 1.5rem;
}

.recipe-image {
    width: 100%; 
    height: auto;
    object-fit: cover; 
    aspect-ratio: 4/3;
    flex-shrink: 1; 
}

.tags-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.tags-container li {
    border: 1px solid black;
    padding: 7px;
    font-weight: 600;
    margin: 0;
    font-size: 100%;
    list-style-type: none;
}

.recipe-name {
    font-family: var(--secondary-font);
    color: var(--text-light);
    font-size: x-large;
    margin: 1rem 0 0 0;
}

.recipe-description {
    font-size: 1.1rem;
}

.rating {
    margin-bottom: 1rem;
}

footer {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1.5rem;
    height: 150px;
    visibility: hidden;
}

footer a {
    text-decoration: none;
    color: var(--text-dark);
}

footer a:hover {
    cursor: pointer;
    color: #013d5f;
}


.social img{
    width: 55px;
    height: 55px;
}

.hide {
    display: none;
}

@media (min-width: 600px) {
    header {
        margin: 0 1rem;
        padding: 1.5rem .5rem;
    }

    .recipe-card {
      flex-direction: row;
      gap: 1rem;
    }

    .recipe-image {
        max-width: 50%;
    }

    .recipe-content {
        flex-wrap: wrap;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 3rem;
    }   
}

@media (min-width: 960px) {
    body {
        margin: 0 auto;
    }
    
    header {
        margin: 0 auto;
        margin: 0 1rem;
        padding: 1.5rem 2rem;
    }

    #recipes-container, #search-bar, footer {
        max-width: 970px;
        margin: 0 auto;
    }

    #recipes-container {
        padding: 0 1.5rem;
    }
}