:root {

    --primary-color: #473144;
    --secondary-color: #AF1B3F;
    --highlight-color: #EFC69B;
}

header{
    text-align: center;
}

body {
    font-family: "Montserrat", sans-serif; 
    font-optical-sizing: auto; 
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

h1 {
    color: var(--primary-color);
    padding: 1rem;
}

/* Navbar Styles */
nav {
    border-top: 2px solid var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color);
    margin-bottom: 1rem;
}

.navbar {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    list-style-type: none;
    justify-content: end;
    justify-items: center;
    gap: 10px;
    padding: 5px;
    max-width: 95%;
}

.navbar li a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
}

.navbar li a:hover {
    color: #77142d;
}

/* Main Content Styles */ 
.main-content {
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding: 0;
}

 .book-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.content p {
    color: var(--primary-color)
}

.content {
    padding: 1rem;
    /* display: flex;
    flex-direction: column; 
    align-items: flex-end;
    text-align: right;  */
 }

.book-title{
    color: var(--secondary-color);
    margin: 0;
}

.details {
    color: var(--primary-color);
    text-align: left;
}









img {
    padding-left: 2rem;
    margin-top: 1rem;
}

.read-more-link {
    font-size: 1.1em;
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none; 
}


